body {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;

}

@media screen and (orientation: portrait) {
    body {
        background-color: black;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-color: aqua;
    }
}


